<header>
      <h1>Martin Arce</h1>
      <h6>Web Developer</h6>

       <%= image_tag 'martin_arce_profile_pic.jpg', alt: "Martin Arce Profile Picture", class: 'profilepic' %>
    </header>

    <!-- Work -->
    <section>
      <h3>Work</h3>
      <hr />
      <ul>
        <li>sdf</li>
        <li>sdfd</li>
        <li>sdfd</li>
      </ul>
      <p>I'm</p>
    </section>

    <!-- Projects -->
    <section class="projects">
      <h3>Projects</h3>
      <hr />
      <!-- TurboNews -->
      <!-- Mis Notis -->
      <!-- Sellit -->
      <!-- Team Task -->
      <div class="project">
        <h6>TeamTask</h6>
        <p>
          TeamTask is an application where teams can track their goals. I built
          it following a great course by
          <a href="https://www.hotrails.dev/turbo-rails">HotRails</a>. I
          extended it by adding a login system with roles assigned to several
          teams.
        </p>
        <ul>
          <span>Built with:</span>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
        <ul>
          <span>Main features:</span>
          <li>Role-Based Authentication system</li>
          <li>Inline editing of database data</li>
          <li>Live refresh of updates to all connected users</li>
        </ul>
        <div class="links">
          <%= link_to '#', id: 'teamtasktrigger', data: { turbo: false } do %>sssssssssssss
                 <%= image_tag 'img.svg', alt: "Screenshots of Teamtask", class: 'logo-img' %>

          <% end %>
          <a class="img-link" href="#" id="teamstasktrigger" data-turbo='false'
            >
                 <%= image_tag 'img.svg', alt: "Screenshots of Teamtask", class: 'logo-img' %>
 sScreenshots</a
          >
          <a class="img-link" href="https://teamtask.herokuapp.com/">
           
             <%= image_tag 'launch.svg', alt: "Live Version", class: 'logo-img' %>
             Live
            Version</a
          >
          <a class="img-link" href="https://teamtask.herokuapp.com/">
             <%= image_tag 'github.svg', alt: "Github Logo", class: 'logo-img' %>Source Code</a
          >
        </div>
      </div>

      <!-- Music App -->
      <!-- https://music-theta.vercel.app/ -->
      <p>
        If you would like to see some older projects, such as a
        <a href="https://divagueame.github.io/raro/"
          >React app to learn Spanish</a
        >, have a look at
        <a href="http://www.martin-arce.de/">my previous portfolio</a>.
      </p>
    </section>

    <section>
      <h3>About me</h3>
      <hr />

      <img
        class="profilepic"
        src="martin_arce_profile_pic.jpg"
        alt="Martin Arce Profile Picture"
      />
      <p>
        I hold a degree on English studies and two different Masters on Language
        Learning. I used to be a language teacher and I started programming to
        create games for my clases but ended up changing my career path. I am a
        creative and passionate person who likes to bite what life throws at me.
      </p>
      <p>
        I'm currently living between Dresden (Germany) and Pontevedra (Spain)
        but I have lived in Germany, China, Switzerland, Ukraine, France and
        England and traveled some others.
      </p>
    </section>
    <section class="contact">
      <h3>Contact</h3>
      <hr />
      <p>
        Does Is my profile sound like a good fit for your team? It'd great to
        hear from you:
      </p>
      <a href="https://github.com/divagueame" class="img-link">
         <%= image_tag 'mail.svg', alt: "Email Icon", class: 'logo-img' %> 
        contact@martin-arce.de
      </a>
      <a href="https://github.com/divagueame" class="img-link"> 
        <%= image_tag 'github.svg', alt: "Github Logo", class: 'logo-img' %> 
        Github
      </a>
      <a href="#" class="img-link">
        <%= image_tag 'resume.svg', alt: "Martin Arce Resume - Icon", class: 'logo-img' %> 
        My resume
      </a>
    </section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
                <%= image_tag 'sq2.jpg', class: 'w-full drop-shadow-xl rounded-sm aspect-square' %>
<br>

                    <%= t('.title_1') %>
                    <%= t('.title_2') %>

                    <%= t('.title_3') %>
                    <%= t('.title_4') %>  
  <%= t('.introduction') %>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>