<div class="container">
    <h1 class="text-center font-bold">Martin Arce</h1>

    <p><%= t('.greeting') %> <%= t('.introduction') %></p>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>
</div>