<div class="container home">
    <div class="grid md:bg-red-400 grid-cols-12 gap-4 my-10 ">
        <%# Pic %>
        <div class="
                    col-start-3 col-end-11
                    row-start-2 row-end-3
        ">

            <%= image_tag 'sq2.jpg', class: 'w-full drop-shadow-xl rounded-sm  aspect-square' %>
        </div>
        
        <%# h1 %>
        <div class="
                    col-start-1 col-end-13
                    row-start-1 row-end-2  z-10 leading-normal text-center 
        ">
            <h1>Hi, I'm Martin and I'm a <span class="sinverted">Web Developer</span></h1>
        </div>

        <%# h4 %>
        <div class="
                col-start-1 col-end-13
                row-start-3 row-end-4
        ">
            <h4>I love you asf sfsfs f  sfd fsdafdasd Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, esse?</h4>
        </div>

        <%# Buttons %>
        <div class="bg-amber-300
                    col-start-3 col-end-11
                    row-start-4 row-end-5
                    ">
            <div class="w-full flex justify-center gap-2">
                <button class="btn-secondary">Contact me</button>
                <button class="btn-secondary-inverted">Check out my work</button>
            </div>            
        </div>
        
    </div>




<div class="mb-80"></div>


























<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="md:my-10 md:grid md:grid-cols-12 md:grid-rows-12 md:gap-4 ">
        <div class="main-pic
                    profile-pic
                    drop-shadow-xl
                    flex justify-center md:block
                    md:col-start-1 md:col-end-6
                    md:row-start-1 md:row-end-2
                    ">
            <%= image_tag 'sq2.jpg', class: 'w-2/3 md:w-full' %>
        </div>
        <div class="main-text
                    md:col-start-4 md:col-end-13
                    md:row-start-1 md:row-end-2
                    md:flex md:flex-end md:items-center">
            
                <h1 class="relative text-right">Hi, I'm Martin and I'm a <span class="sinverted">Web Developer</span></h1>
            
        </div>
        <div class="main-subtext">
            <h4>I love you asf sfsfs f  sfd fsdafdasd Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, esse?</h4>
        </div>
        <div class="main-buttons w-full flex justify-center gap-2 md:inline-block md:hidden">
            <button class="btn-secondary">Contact me</button>
            <button class="btn-secondary-inverted">Check out my work</button>
        </div>
    </div>
</div>


 

<h1 class="text-center font-black">My Work</h1>
<div class="relative">
    <span class="inverted">Yes</span>
</div>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>
</div>


<div class="img-wrapper hidden">
                <%= image_tag 'sq2.jpg', class: 'w-40' %>
</div>
<script>


// function update(e){
//   var x = e.clientX || e.touches[0].clientX
//   var y = e.clientY || e.touches[0].clientY

//   document.documentElement.style.setProperty('--cursorX', x + 'px')
//   document.documentElement.style.setProperty('--cursorY', y + 'px')
// }

// document.addEventListener('mousemove',update)
// document.addEventListener('touchmove',update)
</script>