<div class="container home">
    <div class="grid grid-cols-12 gap-4 mt-8 mb-4 md:mt-20">
        <%# Pic %>
        <div class="
                    col-start-3 col-end-11
                    row-start-2 row-end-8
                    md:col-start-1 md:col-end-7
                    md:row-start-1 md:row-end-8
                    lg:col-start-1 lg:col-end-6
                    <%# md:row-start-1 md:row-end-8 %>

        ">

            <%= image_tag 'sq2.jpg', class: 'w-full drop-shadow-xl rounded-sm aspect-square' %>
        </div>

        <%# h1 Mobile %>
        <div class="hidden
                    leading-tight text-center
                    col-start-1 col-end-13
                    row-start-1 row-end-6
                    md:hidden
        ">
            <h1 class="font-['Mont'] drop-shadow-xl"><%= t('title_1') %> <%= t('title_2') %><span class="underline--magical"><%= t('title_3') %><%= t('title_4') %></span></h1>
        </div>
        <%# h1 Tablet %>
        <div class="md:block special-tablet-up
                    leading-tight text-center
                    col-start-1 col-end-13 text-center
                    row-start-1 md:row-end-3
                    md:col-start-4 md:col-end-13 md:text-right
                    md:row-start-1 md:row-end-8 place-self-center

                    lg:col-start-3 lg:col-end-13
                    
                    lg:justify-self-stretch
                    
                    
        "> 
            <span class="relative text-4xl md:text-5xl lg:text-6xl  font-['Mont'] drop-shadow-xl">
                <span>
                    <%= t('.title_1') %>
                    <br>
                    <%= t('.title_2') %>
                <span>
                <span data-text="<%= t('.title_3') %>" class="highlight">
                    <%= t('.title_3') %>
                </span>
                <br>
                <span data-text="<%= t('.title_4') %>" class="highlight">
                    <%= t('.title_4') %>
                </span>
            </span>
        </div>

</div>


<div class="border-2 rounded-sm border-dashed border-black bg-ori-200 p-3 w-2/3 mx-auto drop-shadow text-center"> 
    <h4><%= t('.introduction') %></h4>  
    <div class="w-full flex flex-wrap justify-center gap-4 py-4">
        <a href="#" class="btn btn-secondary">Contact me</a>
        <a href="#" class="btn btn-secondary-inverted">My work</a>
    </div>
</div>


 


<%# 


<section class="bg-amber-300">
<h1>Full screen and slanted...</h1>
</section>
<section class="bg-white">
<h1>Go ahead...</h1>
</section> 

<section class="bg-gray-200">
    <div class="container">
        <h1>Each section...</h1>
    </div>
</section> %>


<div class="container">
    <h1 class="mobile text-center font-black md:hidden">My Work</h1>
    <h1 class="desktop text-center font-black hidden md:block">sMy Work</h1>
    <div class="relative">
        <span class="inverted">Yes</span>
    </div>
    <p><%= t('.in_progress') %></p>
    <%= link_to "Previous Portfolio", "http://www.martinarce.de", :target => "_blank" %>
    <%= link_to "Github", "https://github.com/divagueame", :target => "_blank" %>
</div>
 
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>