<!DOCTYPE html>
<html>
  <head>
    <title> Martin Arce | Web Developer </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body> 
  <%# Menu %>
    <div id="menu" class="
              flex flex-col gap-8 justify-between py-12
              text-4xl font-gray-800
              "> 

      <div class="main flex flex-col items-center justify-center gap-4 py-8">
        <%= link_to 'HOME', root_path, data: {turbo: false} %>
        <%= link_to 'WORK', root_path, data: {turbo: false} %>
        <%= link_to 'RESUME', root_path, data: {turbo: false} %>
        <%= link_to 'CONTACT', root_path, data: {turbo: false} %>
      </div>

      <hr class="mt-auto border-0 bg-slate-600 h-[1px] opacity-25" >

      <div class="flex gap-4 text-sm fonf-gray-800 justify-center items-center py-4">
          <%= link_to 'EN', root_path(locale: :en), data: {turbo: false} %> |
          <%= link_to 'ES', root_path(locale: :es), data: {turbo: false} %>
      </div>

    </div> 
    <%# Menu Trigger %>
    <div class="action-btn md:hidden" id="menu-trigger" >
      <span></span><span></span><span></span>
    </div>

    <%# Navbar %>
    <%= render 'layouts/navbar' %>

    <%# Content %>
    <div id="content">  
        <%= yield %>
    </div>

  </body>
</html>

